<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Sistema Pizzaria</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="btn btn-dark navbar-toggle pull-left">
						<i class="oi oi-menu"></i>
					</button>
					<a class="navbar-brand " href="#">Sistema Pizzaria</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="layout-main">

		<aside>
			<nav class="sidebar sidebar-open">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Pizzas</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/pizza/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/pizza/listar"> <i
							class="oi oi-spreadsheet"></i> <span>Listar </span>
					</a></li>
				</ul>

<!--				<ul class="nav nav-pills">-->
<!--					<li class="nav-item"><span class="nav-link active">Funcionários</span></li>-->
<!--					<li class="nav-item"><a class="nav-link" -->
<!--						href="/funcionarios/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>-->
<!--					</a></li>-->
<!--					<li class="nav-item"><a class="nav-link" -->
<!--						href="/funcionarios/listar"> <i class="oi oi-spreadsheet"></i> <span>Listar </span>-->
<!--					</a></li>-->
<!--				</ul>-->
			</nav>
		</aside>

	<section class="layout-content">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">

						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#quem-somos"
							role="tab" aria-controls="spring-boot">Quem somos</a>
						<a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#projeto" role="tab" aria-controls="sts">O projeto</a>
						<a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#tecnologias"
							role="tab" aria-controls="thymeleaf">Tecnologias</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div  class="tab-pane fade show active" id="quem-somos"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							<a href="https://projects.spring.io/spring-boot/">Grupo 3</a>
							O grupo 3 é composto por João Pedro Faria de Almeida, Jordy Allan Pereira Rodrigues,
							Luiz Filipe Ribeiro Paixão, Lorenzo Lucas Cantarella, Roberto Conceição e Matheus Aguiar.

							Somos do curso de Sistemas de Informação e estamos entregando o CRUD para o sistema de
							pizzaria.
						</div>
						<div class="tab-pane fade" id="projeto" role="tabpanel"
							aria-labelledby="list-sts-list">
							The <a href="https://spring.io/tools">Spring Tool Suite</a> is an
							Eclipse-based development environment that is customized for
							developing Spring applications. It provides a ready-to-use
							environment to implement, debug, run, and deploy your Spring
							applications, including integrations for Pivotal tc Server,
							Pivotal Cloud Foundry, Git, Maven, AspectJ, and more.
						</div>
						<div class="tab-pane fade" id="tecnologias" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							<a href="http://www.thymeleaf.org/">Thymeleaf</a> is a modern
							server-side Java template engine for both web and standalone
							environments. With modules for Spring Framework, a host of
							integrations with your favourite tools, and the ability to plug
							in your own functionality, Thymeleaf is ideal for modern-day
							HTML5 JVM web development — although there is much more it can
							do.
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	</div>
		<footer class="layout-footer">
		<div class="container">
			<span class="footer-copy">&copy; 2022 Grupo 3. Todos os direitos reservados.</span>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">

		$(function() {
			$('[data-toggle="popover"]').popover();
		});

		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});

	</script>
</body>
</html>